fastapi
uvicorn[standard]
langchain~=0.3.27
langchain-community~=0.3.27
langchain-openai~=0.3.28
langchain-groq
langchain-huggingface
sentence-transformers
langgraph~=0.5.4
qdrant-client
motor
pydantic~=2.11.7
pydantic-settings
python-dotenv
pypdf
tavily-python
streamlit
requests
python-multipart
passlib[bcrypt]
pytest
pytest-asyncio
